* {
 border: 1px solid black;
}

.wrapper{
 display: grid;
 grid-template-columns: repeat(1, 1fr) repeat(1, 2fr);
 grid-template-rows: repeat(2,1fr);
}

header{
 grid-column: 1/3;
}

.task-container{
 display: flex;
 justify-content: space-between;
}

.task-container>p{
 margin: 10px;
}